@import '../../theme/colors.scss';

@font-face {
  font-family: 'Digital Clock';
  src: url(../../assets/E1234-p7pER.ttf) format('truetype');
}

$color-brightness: 2;
$root-vw: 1vw;

main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .frame {
    background: map-get($colors, 'frame');
    border: solid $root-vw * 1.8 map-get($colors, 'frame-border');
    border-radius: $root-vw;
    padding: $root-vw * 2;

    h1 {
      color: map-get($colors, 'framed-hour');
    }

    &:hover {
      background-color: darken($color: map-get($colors, 'frame'), $amount: $color-brightness);
      border-color: darken($color: map-get($colors, 'frame-border'), $amount: $color-brightness);

      h1 {
        color: lighten($color: map-get($colors, 'framed-hour'), $amount: $color-brightness)
      }
    }
  }
  
  h1 {
    padding-top: $root-vw * 2;
    font-family: 'Digital Clock', 'Courier New', Courier, monospace;
    font-size: $root-vw * 10;
    color: map-get($colors, 'standard-hour');
  }

  .title {
    height: 0;
    padding: 0;
    position: relative;
    top: $root-vw * -15;
    font-family: sans-serif;
    font-size: $root-vw * 6;
    text-align: center;
    color: lighten($color: map-get($colors, 'background'), $amount: 2) !important;
  }
}